<div class="w-full mx-auto py-16 text-center special-section">
    <h3 class="text-primaryColor font-semibold uppercase">Carnets de Conduir Disponibles</h3>
    <h1 class="text-4xl font-bold mt-2">Oferim els Millors Cursos de Conduir</h1>
    
    <div class="mt-12 max-w-7xl mx-auto relative splide">
        <button id="slider-button-left" class="absolute top-1/2 left-0 transform -translate-y-1/2 bg-primaryColor text-white p-2 rounded-full shadow-lg hover:bg-gray-700 focus:outline-none z-10">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
            </svg>
        </button>

        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide bg-white rounded-md overflow-hidden" *ngFor="let service of services; index as i">
                    <img [src]="service.image" alt="Pre-Licensing Course" class="w-full h-[30vh] object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold mt-2">{{service.title}}</h2>
                        <p class="text-gray-600 mt-2">{{service.description}}</p>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Botón derecho -->
        <button id="slider-button-right" class="absolute top-1/2 right-0 transform -translate-y-1/2 bg-primaryColor text-white p-2 rounded-full shadow-lg hover:bg-gray-700 focus:outline-none z-10">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
            </svg>
        </button>
    </div>
</div>
