<section class="special-section padding">
  <div class="mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl">
      <div class="grid max-w-screen-lg gap-8 row-gap-5 md:row-gap-8 sm:mx-auto lg:grid-cols-2">
        <div class="transition duration-300 transform bg-white rounded shadow-sm hover:-translate-y-1 hover:shadow md:text-center" data-aos="fade-up" data-aos-duration="1000">
          <div class="relative">
            <img class="object-cover w-full h-64 rounded-t lg:h-80 xl:h-96" src="/assets/images/lost/img-3.jpg" alt="lost" />
            <div class="absolute inset-0 bg-gray-800 bg-opacity-25"></div>
          </div>
          <div class="px-6 py-8 border border-t-0 rounded-b sm:px-8">
            <h5 class="mb-2 text-xl font-bold leading-none sm:text-2xl">
              Recuperació Carnet
            </h5>
            <p class="mb-5 text-gray-700">
              Realitza el curs de recuperació del carnet en 24 hores, distribuït en 2 caps de setmana. Cada dia són 6 hores (dilluns i divendres). Un curs intensiu i eficient per recuperar els punts.
            </p>
          </div>
        </div>

        <div class="transition duration-300 transform bg-white rounded shadow-sm hover:-translate-y-1 hover:shadow md:text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
          <div class="relative">
            <img class="object-cover w-full h-64 rounded-t lg:h-80 xl:h-96" src="/assets/images/lost/img-4.jpg" alt="lost" />
            <div class="absolute inset-0 bg-gray-800 bg-opacity-25"></div>
          </div>
          <div class="px-6 py-8 border border-t-0 rounded-b sm:px-8">
            <h5 class="mb-2 text-xl font-bold leading-none sm:text-2xl">Recuperació Punts</h5>
            <p class="mb-5 text-gray-700">
              Curs de recuperació de punts de 2 hores per cada cap de setmana. El divendres s'imparteixen 6 hores i el dissabte altres 6 hores. Perfecte per recuperar els punts de manera ràpida i eficaç.
            </p>
          </div>
        </div>
      </div>
    </div>
</section>
