<section class="special-section padding">
  <div class="mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl">
    <div class="grid max-w-screen-lg gap-8 row-gap-5 md:row-gap-8 sm:mx-auto lg:grid-cols-2">

      <div class="transition duration-300 transform bg-white rounded shadow-sm hover:-translate-y-1 hover:shadow md:text-center" data-aos="fade-up" data-aos-duration="1000">
        <div class="relative">
          <img class="object-cover w-full h-64 rounded-t lg:h-80 xl:h-96" src="/assets/images/lost/img-3.jpeg" alt="Recuperació de Punts" />
          <div class="absolute inset-0 bg-gray-800 bg-opacity-25"></div>
        </div>
        <div class="px-6 py-8 border-t-0 rounded-b sm:px-8 text-left md:text-center">
          <h5 class="mb-2 text-xl font-bold leading-none sm:text-2xl">Recuperació de Punts</h5>
          <p>
            Recuperació de Punts
            Examen: <strong>4 punts</strong>
            Duració: <strong>12 hores</strong>
            Horaris: <strong>Divendres de 14:30 a 20:30</strong> · <strong>Dissabtes de 8:00 a 14:00</strong>
            Assistència: <strong>Obligatòria</strong>
          </p>
        </div>
      </div>

      <div class="transition duration-300 transform bg-white rounded shadow-sm hover:-translate-y-1 hover:shadow md:text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
        <div class="relative">
          <img class="object-cover w-full h-64 rounded-t lg:h-80 xl:h-96" src="/assets/images/lost/img-4.jpeg" alt="Recuperació de Permís" />
          <div class="absolute inset-0 bg-gray-800 bg-opacity-25"></div>
        </div>
        <div class="px-6 py-8 border-t-0 rounded-b sm:px-8 text-left md:text-center">
          <h5 class="mb-2 text-xl font-bold leading-none sm:text-2xl">Recuperació de Permís</h5>
          <p class="w-full">
            Recuperació de Permís
            Tipus de retirada: <strong>B1, B2, B3</strong>
            Duració: <strong>24 hores</strong>
            Horaris:
            <strong>2 Divendres</strong>: 15:30 a 20:30
            <strong>2 Dissabtes</strong>: 8:00 a 14:00
            B1: <strong>via administrativa</strong>
            B2, B3: <strong>sentència judicial</strong>
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
