<section class="py-10 bg-gray-50 sm:py-16 lg:py-24">
    <div class="max-w-5xl px-4 mx-auto sm:px-6 lg:px-8">
        <div class="grid items-center grid-cols-1 gap-y-6 md:grid-cols-2 md:gap-x-20">
            <div data-aos="fade-right" data-aos-duration="1000">
                <h6 class="principal-title">Resultats</h6>
                <h2 class="principal-subtitle">
                    Resultats que parlen per si sol.
                </h2>
                <p class="principal-paragraph">
                    Ajudem els nostres alumnes a aconseguir el permís de conduir de manera ràpida i eficient. Amb instructors experts i un mètode d'ensenyament innovador, garantim una experiència d'aprenentatge senzilla i efectiva. Uneix-te a nosaltres i condueix cap al teu futur!
                </p>
            </div>

            <div class="relative pl-20 pr-6 sm:pl-6 md:px-0">
                <div class="relative w-full max-w-xs mt-4 mb-10 ml-auto" data-aos="zoom-in" data-aos-duration="1200">
                    <img class="ml-auto h-[35vh] object-cover" src="/assets/images/home/img-about-2.png" alt="img-about" />

                    <img class="absolute -top-4 -left-12" data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000" src="https://cdn.rareblocks.xyz/collection/celebration/images/features/1/wavey-lines.svg" alt="" />

                    <div class="absolute -bottom-10 -left-16" data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000">
                        <div class="bg-primaryColor">
                            <div class="px-8 py-10">
                                <span class="block text-4xl font-bold text-white lg:text-5xl"> 95% </span>
                                <span class="block mt-2 text-base leading-tight text-white"> d'estudiants aprovats<br />a la primera </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

