<footer class="bg-gray-900">
    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 gap-8 lg:grid-cols-4">
            <div>
                <h2 class="text-2xl font-bold text-white">¡Mantente informado!</h2>
                <p class="mt-4 text-gray-500">
                    Descubre nuestras últimas novedades, servicios y consejos para llevar tu negocio al siguiente nivel. Estamos aquí para ayudarte.
                </p>
            </div>

            <div class="col-span-3 space-y-8 md:space-y-0 md:flex md:justify-between">
                <div>
                    <p class="font-medium text-primaryColor">Dónde estamos</p>
                    <ul class="mt-6 space-y-4 text-sm text-gray-300">
                        <li><span class="block font-bold">Dirección:</span>Mollerussa, España</li>
                        <li><span class="block font-bold">Teléfono:</span> <a href="https://wa.me/34633899675?text=Hola,%20estoy%20interesado%20en%20un%20servicio" target="_blank">+34 633 89 96 75</a></li>
                        <li><span class="block font-bold">Correo:</span> <a href="mailto:info@itnovastudio.com">info&#64;itnovastudio.com</a></li>
                        <!-- <li><span class="block font-bold">Horario:</span> Lunes a Viernes, 9:00 - 18:00</li> -->
                    </ul>
                </div>

                <div>
                    <p class="font-medium text-primaryColor">Servicios</p>
                    <ul class="mt-6 space-y-4 text-sm">
                        <li><a href="/diseno-web" class="text-gray-300 transition hover:opacity-75">Diseño web</a></li>
                        <li><a href="/software" class="text-gray-300 transition hover:opacity-75">Software personalizado</a></li>
                        <li><a href="/comercio-electronico" class="text-gray-300 transition hover:opacity-75">Tiendas online (ECOMMERCE)</a></li>
                        <li><a href="/redes-sociales" class="text-gray-300 transition hover:opacity-75">Gestión redes</a></li>
                        <li><a href="/servicio-tecnico" class="text-gray-300 transition hover:opacity-75">Servicio técnico</a></li>
                        <li><a href="/camaras" class="text-gray-300 transition hover:opacity-75">Cámaras de Seguridad</a></li>
                        <li><a href="/ia" class="text-gray-300 transition hover:opacity-75">Chatbox con IA</a></li>
                    </ul>
                </div>

                <div>
                    <p class="font-medium text-primaryColor">Enlaces útiles</p>
                    <ul class="mt-6 space-y-4 text-sm">
                        <li><a href="/contacto" class="text-gray-300 transition hover:opacity-75">Contacto</a></li>
                        <li><a href="/contacto" class="text-gray-300 transition hover:opacity-75">Pedir presupuesto</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="mt-8 border-t border-gray-100 pt-8">
            <div class="sm:flex sm:items-center sm:justify-between">
                <p class="text-xs text-gray-500">&copy; {{year}}. itnovastudio. Todos los derechos reservados.</p>
                <ul class="mt-4 flex flex-wrap justify-start gap-4 text-xs sm:mt-0 lg:justify-end">
                    <li><a href="/terminos" class="text-gray-500 transition hover:opacity-75">Términos y Condiciones</a></li>
                    <li><a href="/politica" class="text-gray-500 transition hover:opacity-75">Política de Privacidad</a></li>
                    <li><a href="/cookies" class="text-gray-500 transition hover:opacity-75">Cookies</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
