<footer class="bg-black text-md text-gray-400 flex flex-col p-10">
  <div class="max-w-7xl mx-auto px-6 flex flex-col md:flex-row items-center justify-between">
    <div class="flex flex-col space-y-3 text-center md:text-left md:flex-row md:space-x-6 md:space-y-0 p-5">
      <a routerLink="/inici" class="hover:text-white">Inici</a>
      <a routerLink="/serveis" class="hover:text-white">Serveis</a>
      <a routerLink="/nosaltres" class="hover:text-white">Nosaltres</a>
      <a routerLink="/galeria" class="hover:text-white">Galeria</a>
      <a routerLink="/testos" class="hover:text-white">Testos</a>
      <a routerLink="/pagaments" class="hover:text-white">Pagaments</a>
      <a routerLink="/contacte" class="hover:text-white">Contacta</a>
    </div>
  </div>
  <div class="text-center text-gray-500 mt-6">
    <p>© {{year}} Autoescola Trailer, Disseny Web <a href="https://www.itnovastudio.com" class="text-orange-600 hover:underline font-bold" target="_blank">itnovastudio</a>. Tots els drets reservats.</p>
  </div>
</footer>
