.top{
    position: relative;
    background-position: center;
    background-attachment: fixed;

    .info,
    svg{
        z-index: 1 !important;
    }

    svg{
        position: absolute;
        bottom: -15px;
        left: 0;
        right: 0;
        margin: auto !important;
    }
 
}

.darkness {
    background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0.8), hsla(0, 0%, 0%, 0.7));
}