<section class="top w-full flex items-center justify-center relative">
    <img class="w-full h-full object-cover filter brightness-50" [src]="photo" alt="{{title}} img">
  
    <div class="info absolute top-0 left-0 flex flex-col justify-center items-center sm:px-8 md:px-16 lg:px-24 text-center mx-auto">
      <h6 class="text-gray-100 text-xs sm:text-sm md:text-base">{{url}}</h6>
      <h2 class="text-white text-3xl sm:text-4xl md:text-5xl lg:text-6xl uppercase font-bold mt-2 sm:mt-3 text-center">{{title}}</h2>
    </div>
  </section>
  