<header>

    <h1 routerLink="/inicio" class="uppercase"><span class="text-primaryColor">It</span>novastudio</h1>

    <nav [ngClass]="{'opened' : opened}">
        <a routerLink="/inicio" class="effect">Inicio</a>
        <div class="dropdown effect">
            <span>Servicios</span>
            <div class="dropdown-content">
                <a routerLink="/diseno-web">Diseño web</a>
                <a routerLink="/software">Software personalizado</a>
                <a routerLink="/comercio-electronico">Tiendas online</a>
                <a routerLink="/redes-sociales">Gestión redes</a>
                <a routerLink="/servicio-tecnico">Servicio técnico</a>
                <a routerLink="/camaras">Cámaras de Seguridad</a>
                <a routerLink="/ia">IA</a>
            </div>
          </div>
          <a routerLink="/nosotros" class="effect">Sobre nosotros</a>
        <!-- <a href="#">Blog</a> -->
        <a routerLink="/contacto"
   class="bg-primaryColor go no-effect text-white font-semibold py-3 text-sm px-6 rounded-sm shadow-lg hover:bg-[#e65500] hover:shadow-xl transition-all duration-300 transform hover:scale-105 contactar">
    Contactar
</a>
    </nav>

    <button id="open" *ngIf="!opened" (click)="setOpened(true)">
        <svg width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 6H20M4 12H20M4 18H20" stroke="#FF6600" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
    </button>
   
    <button id="close" *ngIf="opened" (click)="setOpened(false)">
        <svg width="64px" height="64px" viewBox="-0.5 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M3 21.32L21 3.32001" stroke="#FF6600" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M3 3.32001L21 21.32" stroke="#FF6600" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
    </button>

</header>