header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    h1{
        color: #fff;
        text-transform: uppercase;
        font-weight: 800;

        span{
            color: #FF181E;
        }
    }

    nav{

        a{
            color: #fff;
            margin: 0 15px;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
}