<header>
    <h1 class="text-xl" routerLink="home"><span class="text-primaryColor">W</span>ebsite</h1>
    <nav>
        <a routerLink="/home" class="parent">Inicio</a>
        <div class="drop parent">
            <a class="go">Servicios</a>
            <div class="menu">
                <a routerLink="/websiteDesign">Diseño web</a>
                <a routerLink="/software">Software personalizado</a>
                <a routerLink="/ecommerce">Tiendas Online (ECOMMERCE)</a>
                <a href="#">Gestión redes</a>
                <a routerLink="/technicalService">Servicio Técnico</a>
                <a href="#">Cámaras de Seguridad</a>
                <a href="#">Chatbox con IA</a>
            </div>
        </div>
        <a href="#" class="parent">Casos exitosos</a>
        <a href="#" class="parent">Blog</a>
        <a routerLink="contact" class="parent">Contacto</a>
    </nav>
</header>
