header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    transition: ease-in-out 500ms; // Transición más lenta y fluida
    z-index: 9999 !important;

    h1 {
        color: #fff;
        text-transform: uppercase;
        font-weight: 800;

        span {
            color: #FF181E;
            transition: ease-in-out 500ms; // También suaviza el cambio de color
        }
    }

    nav {
        a {
            color: #fff;
            margin: 0 15px;
            text-transform: uppercase;
            font-weight: 700;
            position: relative;

            &::before {
                content: "";
                width: 0%;
                height: 2px;
                position: absolute;
                bottom: -3px;
                left: 0;
                background-color: #fff;
                transition: width 500ms ease-in-out; // Transición más suave
            }

            &:hover::before {
                width: 100%;
            }
        }
    }
}

.scrolled {
    width: 100%;
    background-color: #FF181E;
    transition: ease-in-out 500ms; 

    h1 {
        span {
            color: #000;
            transition: ease-in-out 500ms; 
        }
    }
}
