<app-top [url]="'Servicios / Chatbot con IA'" [title]="'Chatbot con IA'" [photo]="'/assets/images/services/ia/ia.png'"></app-top>
<app-info [image]="'/assets/images/services/ia/info.png'" [title]="'Chatbots Inteligentes para Tu Negocio'" [parragraph]="'Automatiza la atención al cliente con un chatbot personalizado. Responde consultas, toma pedidos y ofrece soporte 24/7 en tu web, WhatsApp o redes sociales. Ahorra tiempo y mejora la experiencia de tus clientes.'"></app-info>
<app-work [steps]="steps" [text]="text"></app-work>
<app-services [title]="title" [description]="description" [gridItems]="gridItems"></app-services>
<app-go-contact [goContactTitle]="goContactTitle" [goContactSecondTitle]="goContactSecondTitle" [goContactParagraph]="goContactParagraph"></app-go-contact>
<app-faqs [faqs]="faqs"></app-faqs>

