<app-top [url]="'Servicios / Software Personalizado'" [title]="'Software personalizado'" [photo]="'/assets/images/services/software/software.jpg'"></app-top>
<app-info [price]="800" [image]="'/assets/images/services/software/info.jpg'" [title]="'Software Personalizado para Tu Negocio'" [parragraph]="'¿Quieres administrar mejor tu negocio? Creamos software a medida para lo que necesites: gestión de clientes, ventas, inventarios, reservas y más. Soluciones personalizadas, fáciles de usar y adaptadas a tu empresa.'"></app-info>
<app-work [steps]="steps" [text]="text"></app-work>
<app-services [title]="title" [description]="description" [gridItems]="gridItems"></app-services>
<app-go-contact [goContactTitle]="goContactTitle" [goContactSecondTitle]="goContactSecondTitle" [goContactParagraph]="goContactParagraph"></app-go-contact>
<app-faqs [faqs]="faqs"></app-faqs>

