<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <div class="max-w-2xl text-center mx-auto mb-10 lg:mb-14">
    <h2 class="principal-title">Les nostres últimes notícies</h2>
    <p class="principal-subtitle">Descobreix les novetats i consells de la nostra autoescola.</p>
  </div>

  <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-6 mb-10 lg:mb-14">
    <a *ngFor="let item of visibleNews" class="group flex flex-col bg-white border border-gray-200 shadow-2xs rounded-xl hover:shadow-md focus:outline-hidden focus:shadow-md transition overflow-hidden hover:-translate-y-0.5 duration-200 ease-out" >
      <div class="aspect-w-16 aspect-h-9">
        <img class="w-full object-cover rounded-t-xl h-[40vh]" 
             [src]="item.image_url || '/assets/images/gallery/img-1.jpeg'" 
             [alt]="item.title">
      </div>
      <div class="p-4 md:p-5">
        <h3 class="mt-1 text-xl font-semibold text-gray-900 group-hover:text-primaryColor line-clamp-2">
          {{ item.title }}
        </h3>
        <p class="mt-2 text-sm text-gray-600 line-clamp-3">
          {{ item.description || item.content }}
        </p>
      </div>
    </a>
  </div>

  <div class="text-center" *ngIf="visibleNews.length < news.length">
    <button (click)="loadMore()" class="inline-block bg-white border border-gray-200 shadow-2xs rounded-full py-3 px-4 text-primaryColor hover:underline font-medium">
      Carregar més
    </button>
  </div>
</div>
