<app-top [url]="'Servicios / Tiendas Onlinne (ECOMMERCE)'"  [title]="'Tiendas Onlinne'" [photo]="'/assets/images/services/ecommerce/ecommerce.jpg'"></app-top>
<app-work [steps]="steps" [text]="text"></app-work>
<app-services [title]="title" [description]="description" [gridItems]="gridItems"></app-services>
<app-go-contact [goContactTitle]="goContactTitle" [goContactSecondTitle]="goContactSecondTitle" [goContactParagraph]="goContactParagraph"></app-go-contact>
<app-faqs [faqs]="faqs"></app-faqs>

