<app-top [url]="'Servicios / Tiendas Onlinne (ECOMMERCE)'"  [title]="'Tiendas Onlinne'" [photo]="'/assets/images/services/ecommerce/ecommerce.jpg'"></app-top>
<app-info [image]="'/assets/images/services/ecommerce/info.jpg'" [title]="'Tu Tienda Online a Medida'" [parragraph]="'¿Quieres vender por internet? Diseñamos tiendas online adaptadas a tu negocio, con carrito de compras, pasarelas de pago seguras y fáciles de usar. Ideal para ofrecer tus productos o servicios las 24 horas, todos los días.'"></app-info>
<app-work [steps]="steps" [text]="text"></app-work>
<app-services [title]="title" [description]="description" [gridItems]="gridItems"></app-services>
<app-go-contact [goContactTitle]="goContactTitle" [goContactSecondTitle]="goContactSecondTitle" [goContactParagraph]="goContactParagraph"></app-go-contact>
<app-faqs [faqs]="faqs"></app-faqs>

