<app-top [url]="'Servicios / Diseño web'" [title]="'Diseño web'" [photo]="'/assets/images/services/design/design.jpg'"></app-top>
<app-info [image]="'/assets/images/services/design/info.jpg'" [title]="'Diseño Web para Particulares y Empresas'" [parragraph]="'¿Necesitas una web? Hacemos todo tipo de páginas: para mostrar tu trabajo, promocionar tu empresa o presentar tus servicios. Desde webs completas hasta landing pages (una sola página) ideales para captar clientes. Diseños claros, modernos y fáciles de usar, hechos justo para ti.'"></app-info>
<app-work [steps]="steps" [text]="text"></app-work>
<app-services [title]="title" [description]="description" [gridItems]="gridItems"></app-services>
<app-go-contact [goContactTitle]="goContactTitle" [goContactSecondTitle]="goContactSecondTitle" [goContactParagraph]="goContactParagraph"></app-go-contact>
<app-faqs [faqs]="faqs"></app-faqs>