<section>
    <div class="mx-auto w-full max-w-7xl px-5 py-12 md:px-10 md:py-16 lg:py-20">
      <div class="grid gap-12 sm:gap-20 lg:grid-cols-2">
        <div class="flex flex-col items-start gap-2">
          <div class="flex items-center rounded-md bg-primaryColor px-3 py-1">
            <div class="mr-1 h-2 w-2 rounded-full bg-white"></div>
            <p class="text-sm text-white">Siempre innovando</p>
          </div>
          <p class="text-sm text-gray-500 sm:text-xl"> Soluciones en Software & Hardware </p>
          <h1 class="mb-6 text-4xl font-bold md:text-6xl lg:mb-8"> Quiénes Somos </h1>
          <p class="text-sm text-gray-500 sm:text-xl"> Somos dos fundadores apasionados por resolver problemas, mezclando nuestros conocimientos en software y hardware para llevar a nuestros clientes al éxito. Trabajamos juntos para diseñar y ejecutar soluciones personalizadas que se adaptan a las necesidades de cada proyecto. </p>
          <div class="mb-8 mt-8 h-px w-full bg-black"></div>
          <div class="mb-6 flex flex-col gap-2 text-sm text-gray-500 sm:text-base lg:mb-8">
            <p>
              <strong>Visión: </strong>Convertirnos en un referente en soluciones tecnológicas integrales.
            </p>
            <p>
              <strong>Misión: </strong>Innovar constantemente para ofrecer soluciones de calidad que impacten positivamente a nuestros clientes.
            </p>
          </div>
          <div class="flex flex-col gap-4 font-semibold sm:flex-row">
            <a href="#" class="flex items-center gap-4 rounded-md bg-primaryColor px-6 py-3 text-white">
              <svg width="25" height="25" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#fff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M20.9717 8C20.9717 8 16.9505 13 12.0005 13C7.05051 13 3.0293 8 3.0293 8M6.2 19H17.8C18.9201 19 19.4802 19 19.908 18.782C20.2843 18.5903 20.5903 18.2843 20.782 17.908C21 17.4802 21 16.9201 21 15.8V8.2C21 7.0799 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V15.8C3 16.9201 3 17.4802 3.21799 17.908C3.40973 18.2843 3.71569 18.5903 4.09202 18.782C4.51984 19 5.07989 19 6.2 19Z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
              <p>Contáctanos</p>
            </a>
          </div>
        </div>
        <div class="min-h-[530px] overflow-hidden rounded-md bg-gray-100">
            <img src="/assets/images/about.jpg" alt="contact img">
        </div>
      </div>
    </div>
  </section>
  