<section>
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl px-5 md:px-10 lg:px-24">
    <!-- Component -->
    <div class="flex max-w-3xl flex-col py-16 md:py-24 lg:py-32">
      <!-- Title -->
      <h1 class="mb-10 text-3xl font-bold md:text-5xl">Avís Legal i Política de Privacitat</h1>
     
      <!-- Legal Notice -->
      <div class="mb-6">
        <h2 class="text-xl font-bold">Avís Legal (LSSI)</h2>
        <p class="text-sm sm:text-base">
          La present pàgina Web ha estat dissenyada per donar a conèixer els serveis oferts per Autoescola Trailer, S.L.. És per això que en compliment de l'exigit en la Llei 34/2002 se li informa que la present pàgina i el seu domini pertany a Autoescola Trailer, S.L. amb CIF B96306428 i domicili social a Carrer de Ferrer i Busquets, 26, 25230 Mollerussa, Lleida.
        </p>
        <p class="text-sm sm:text-base">
          El domini www.autoescolatrailer.cat és titularitat d'Autoescola Trailer, S.L. amb CIF B96306428 titular dels drets de propietat intel·lectual sobre les Webs i els seus continguts, sense perjudici dels drets legítims de tercers.
        </p>
        <p class="text-sm sm:text-base">
          La societat titular està inscrita en el Registre Mercantil de València, tom 4926, llibre 2235, foli 188, secció 8 i full V 35.497; proveïda de CIF B96306428 i té el seu domicili als efectes del present avís Legal a Carrer de Ferrer i Busquets, 26, 25230 Mollerussa, Lleida. Vostè pot posar-se en contacte amb nosaltres en el següent correu electrònic: <a href="mailto:autoescola_trailer&#64;hotmail.es">autoescola_trailer&#64;hotmail.es</a>.
        </p>
      </div>
 
 
      <!-- Data Protection -->
      <div class="mb-6">
        <h2 class="text-xl font-bold">Protecció de Dades (LOPD – RUE)</h2>
        <p class="text-sm sm:text-base">
          <strong>INFORMACIÓ DE TRACTAMENT DE DADES DE CARÀCTER PERSONAL</strong>
        </p>
        <p class="text-sm sm:text-base">
          En compliment del deure legal d'informació establert en la Llei 3/2018 de Protecció de Dades Personals i Garantia dels Drets Digitals i en l'article 13 de Reglament (EU)2016/679 se'ls facilita la següent informació bàsica relativa a les dades personals facilitades.
        </p>
        <p class="text-sm sm:text-base">
          <strong>Responsable del Tractament:</strong> Autoescola Trailer, S.L. B96306428<br />
          Carrer de Ferrer i Busquets, 26, 25230 Mollerussa, Lleida<br />
          Telèfon: 973 71 20 20<br />
          Correu electrònic: <a href="mailto:autoescola_trailer&#64;hotmail.es">autoescola_trailer&#64;hotmail.es</a>
        </p>
        <p class="text-sm sm:text-base">
          <strong>Finalitats del Tractament:</strong> Tractem la informació que ens facilita per tal de complir amb el deure d'informació prèvia i serveis proporcionats per la nostra empresa. Es podrà utilitzar, en cas que hagi donat consentiment per a això, el seu correu electrònic per gestionar l'enviament de la informació que ens demani i per facilitar-li ofertes de productes i serveis nous que poguessin ser del seu interès. Les dades personals proporcionades seran conservades el temps mínim necessari per satisfer la finalitat per a la qual les va facilitar, així com per atendre les responsabilitats que es poguessin derivar de les dades subministrades i de qualsevol altra exigència legal.
        </p>
        <p class="text-sm sm:text-base">
          <strong>Legitimació del Tractament:</strong> La base legal per al tractament de les seves dades és la seva consentiment previ per enviar-li informació sobre productes i serveis i l'interès legítim del responsable a donar-li resposta a les qüestions plantejades.
        </p>
        <p class="text-sm sm:text-base">
          <strong>Destinataris:</strong> Si demana informació dels nostres serveis no està prevista cap cessió. NO es preveuen transferències de dades a tercers països.
        </p>
        <p class="text-sm sm:text-base">
          <strong>Drets:</strong> Vostè té dret a obtenir informació sobre si estem tractant dades personals que li concerneixen o no. Podrà exercir els drets d'accés, rectificació, supressió, limitació, portabilitat i cancel·lació sobre les seves dades personals. En qualsevol moment l'interessat pot retirar el consentiment prestat sense que això afecti la licitud del tractament, així com la possibilitat d'acudir davant l'autoritat de control competent (AEPD).
        </p>
        <p class="text-sm sm:text-base">
          <strong>Procedència:</strong> Les dades personals procedeixen de la persona interessada. La categoria de dades que tractem són: identificatius (nom, cognoms, telèfon), adreces postals i electròniques per a comunicacions.
        </p>
      </div>
 
 
      <!-- Social Networks -->
      <div class="mb-6">
        <h2 class="text-xl font-bold">Política sobre Xarxes Socials (LOPD-RUE)</h2>
        <p class="text-sm sm:text-base">
          En compliment del que disposa el Reglament Europeu UE de Protecció de Dades de Caràcter Personal, 2016/679, Autoescola Trailer, S.L. informa que compta amb presència i vincle a la seva WEB amb xarxes socials Facebook, Instagram i Twitter i els dona ús per mantenir informat els seus clients dels productes, serveis i novetats, així com plataforma de difusió de les seves activitats formatives per tot això els informem que;
        </p>
        <p class="text-sm sm:text-base">
          Les dades recollides mitjançant aquestes xarxes socials són tractades conforme als requisits legals exigits en el Reglament UE de Protecció de Dades. Si vostè considera interessant ser el nostre FAN/SEGUIDOR en aquest tipus de xarxes socials, sàpiga que per seguir-nos vostè està cedint les seves dades a aquestes plataformes i haurà de conèixer i acceptar l'ús que aquestes plataformes fan de les seves dades.
        </p>
        <p class="text-sm sm:text-base">
          Així mateix, li indiquem que Autoescola Trailer, S.L. no tractarà les seves dades per a una altra finalitat que no sigui única i exclusivament el consentit per l'usuari i acceptat.
        </p>
      </div>
 
 
      <!-- Limitations of Liability -->
      <div class="mb-6">
        <h2 class="text-xl font-bold">Limitació de Responsabilitat</h2>
        <p class="text-sm sm:text-base">
          Autoescola Trailer, S.L. efectua els majors esforços per a l'actualització, manteniment i funcionament del seu lloc WEB, oferint a l'Usuari aquest lloc com una eina per a la informació corporativa i de serveis, no obstant això, Autoescola Trailer, S.L. no pot garantir l'absència de fallades tècniques, la seguretat total del servei WEB, ni que aquest operatiu les 24 hores del dia, set dies a la setmana en tot moment.
        </p>
      </div>
 
 
      <!-- Industrial and Intellectual Property -->
      <div class="mb-6">
        <h2 class="text-xl font-bold">Propietat Industrial i Intel·lectual</h2>
        <p class="text-sm sm:text-base">
          Aquesta WEB és propietat d'Autoescola Trailer, S.L. els drets de Propietat Intel·lectual i drets d'explotació i reproducció d'aquesta WEB, de les seves pàgines, pantalles, la informació que contenen, la seva aparença i disseny, així com els vincles ("hiperlinks") que s'estableixin des d'ella a altres pàgines WEB de qualsevol societat anunciant en la mateixa, són propietat exclusiva d'aquesta i altres anunciants conforme als seus WEB ́s corporatives, llevat que expressament s'especifiqui una altra cosa.
        </p>
        <p class="text-sm sm:text-base">
          Qualsevol ús indegut de les mateixes per persones diferents del seu legítim titular i sense el consentiment exprés i inequívoc per part d'aquest podrà ser denunciat i perseguit a través de tots els mitjans legals existents en l'Ordenament Jurídic espanyol i/o comunitari.
        </p>
      </div>
 
 
      <!-- Applicable Legislation -->
      <div class="mb-6">
        <h2 class="text-xl font-bold">Legislació Aplicable</h2>
        <p class="text-sm sm:text-base">
          Llei Orgànica 3/2018 de 5 de desembre de Protecció de Dades Personals i Garantia dels Drets Digitals, Reglament de Protecció de Dades de Caràcter Personal UE 679/2016 de 27 d'abril de 2016 i Llei 34/2002 d'11 de juliol de Serveis de la Societat de la Informació i de Comerç Electrònic.
        </p>
      </div>
    </div>
  </div>
 </section>
 