<section>
    <!-- Container -->
    <div class="mx-auto w-full max-w-7xl px-5 md:px-10 lg:px-24">
      <!-- Component -->
      <div class="flex max-w-3xl flex-col py-16 md:py-24 lg:py-32">
        <!-- Title -->
        <h1 class="mb-10 text-3xl font-bold md:text-5xl">Política de Privacidad</h1>
        <p class="mb-5 text-sm font-bold sm:text-base">Última actualización: 28 de enero de 2025</p>
        <!-- Introduction -->
        <p class="mb-6 text-sm sm:text-base">
          En esta Política de Privacidad, explicamos cómo recopilamos, usamos, y protegemos su información personal cuando utiliza nuestro servicio.
        </p>
        <!-- Section -->
        <div class="mb-6 flex flex-col items-start gap-y-3">
          <p class="font-bold uppercase sm:text-base">1. Información que Recopilamos</p>
          <p class="text-sm sm:text-base">
            1.1. <strong>Información Personal:</strong> Podemos recopilar información que lo identifique, como su nombre, dirección de correo electrónico, número de teléfono, y otra información relevante al usar nuestro servicio.
            <br />1.2. <strong>Información de Uso:</strong> Recopilamos información relacionada con cómo accede y utiliza nuestro servicio, incluyendo su dirección IP, tipo de navegador, y datos de interacción.
          </p>
        </div>
        <!-- Section -->
        <div class="mb-6 flex flex-col items-start gap-y-3">
            <p class="font-bold uppercase sm:text-base">2. Cómo Usamos Su Información</p>
            <p class="text-sm sm:text-base">2.1. Utilizamos su información para proporcionar y mantener nuestro servicio, incluyendo:</p>
            <ul class="list-disc pl-5">
              <li>Para gestionar su cuenta y ofrecerle soporte técnico.</li>
              <li>Para personalizar su experiencia en el servicio.</li>
              <li>Para enviarle notificaciones sobre actualizaciones o cambios importantes.</li>
            </ul>
            <p class="text-sm sm:text-base">
              2.2. Solo compartiremos su información con terceros cuando sea necesario para cumplir con requisitos legales, proteger nuestros derechos o proporcionar los servicios contratados.
            </p>
          </div>
        <!-- Section -->
        <div class="mb-6 flex flex-col items-start gap-y-3">
          <p class="font-bold uppercase sm:text-base">3. Seguridad de la Información</p>
          <p class="text-sm sm:text-base">
            Implementamos medidas de seguridad técnicas y organizativas para proteger su información personal contra accesos no autorizados, alteraciones, divulgación o destrucción. Sin embargo, ninguna transmisión por Internet o sistema de almacenamiento es completamente segura, y no podemos garantizar la seguridad absoluta de su información.
          </p>
        </div>
        <!-- Section -->
        <div class="mb-6 flex flex-col items-start gap-y-3">
            <p class="font-bold uppercase sm:text-base">4. Derechos de los Usuarios</p>
            <p class="text-sm sm:text-base">Usted tiene derecho a:</p>
            <ul class="list-disc pl-5">
              <li>Acceder a la información personal que hemos recopilado sobre usted.</li>
              <li>Solicitar la corrección o eliminación de sus datos personales.</li>
              <li>Retirar su consentimiento para el procesamiento de datos en cualquier momento.</li>
            </ul>
            <p class="text-sm sm:text-base">
              Para ejercer estos derechos, puede contactarnos a través de nuestro correo electrónico: 
              <a href="mailto:privacy@itnovastudio.com" class="text-blue-600">info&#64;itnovastudio.com</a>.
            </p>
          </div>
        <!-- Section -->
        <div class="mb-6 flex flex-col items-start gap-y-3">
          <p class="font-bold uppercase sm:text-base">5. Cambios a esta Política</p>
          <p class="text-sm sm:text-base">
            Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento. Le notificaremos cualquier cambio publicando la nueva política en nuestro sitio web. Le recomendamos que revise esta página periódicamente para estar informado sobre nuestras prácticas de privacidad.
          </p>
        </div>
        <!-- Section -->
        <div class="mb-6 flex flex-col items-start gap-y-3">
          <p class="font-bold uppercase sm:text-base">6. Contacto</p>
          <p class="text-sm sm:text-base">
            Si tiene alguna pregunta sobre esta Política de Privacidad, puede contactarnos a través de:
            <br /><strong>Correo electrónico:</strong> <a href="mailto:privacy@itnovastudio.com" class="text-blue-600">info&#64;itnovastudio.com</a>
            <br /><strong>Dirección:</strong>25230, Mollerusa, España.
          </p>
        </div>
      </div>
    </div>
  </section>
  