<section>
  <!-- Contenidor -->
  <div class="mx-auto w-full max-w-7xl px-5 md:px-10 lg:px-24">
    <!-- Component -->
    <div class="flex max-w-3xl flex-col py-16 md:py-24 lg:py-32">
      <!-- Títol -->
      <h1 class="mb-10 text-3xl font-bold md:text-5xl">Política de Privacitat</h1>
      <p class="mb-5 text-sm font-bold sm:text-base">Última actualització: 28 de gener de 2025</p>
      <!-- Introducció -->
      <p class="mb-6 text-sm sm:text-base">
        En aquesta Política de Privacitat, expliquem com recopilem, utilitzem i protegim la seva informació personal quan utilitza el nostre servei.
      </p>
      <!-- Secció -->
      <div class="mb-6 flex flex-col items-start gap-y-3">
        <p class="font-bold uppercase sm:text-base">1. Informació que Recopilem</p>
        <p class="text-sm sm:text-base">
          1.1. <strong>Informació Personal:</strong> Podem recopilar informació que el identifiqui, com el seu nom, adreça de correu electrònic, número de telèfon i altres dades rellevants quan utilitza el nostre servei.
          <br />1.2. <strong>Informació d'Ús:</strong> Recopilem informació relacionada amb com accedeix i utilitza el nostre servei, incloent-hi la seva adreça IP, tipus de navegador i dades d'interacció.
        </p>
      </div>
      <!-- Secció -->
      <div class="mb-6 flex flex-col items-start gap-y-3">
          <p class="font-bold uppercase sm:text-base">2. Com Utilitzem la Seva Informació</p>
          <p class="text-sm sm:text-base">2.1. Utilitzem la seva informació per proporcionar i mantenir el nostre servei, incloent:</p>
          <ul class="list-disc pl-5">
            <li>Per gestionar el seu compte i oferir-li suport tècnic.</li>
            <li>Per personalitzar la seva experiència en el servei.</li>
            <li>Per enviar-li notificacions sobre actualitzacions o canvis importants.</li>
          </ul>
          <p class="text-sm sm:text-base">
            2.2. Només compartirem la seva informació amb tercers quan sigui necessari per complir amb requisits legals, protegir els nostres drets o proporcionar els serveis contractats.
          </p>
        </div>
      <!-- Secció -->
      <div class="mb-6 flex flex-col items-start gap-y-3">
        <p class="font-bold uppercase sm:text-base">3. Seguretat de la Informació</p>
        <p class="text-sm sm:text-base">
          Implementem mesures de seguretat tècniques i organitzatives per protegir la seva informació personal contra accés no autoritzat, alteracions, divulgació o destrucció. No obstant això, cap transmissió per Internet o sistema d'emmagatzematge és completament segura, i no podem garantir la seguretat absoluta de la seva informació.
        </p>
      </div>
      <!-- Secció -->
      <div class="mb-6 flex flex-col items-start gap-y-3">
          <p class="font-bold uppercase sm:text-base">4. Drets dels Usuaris</p>
          <p class="text-sm sm:text-base">Vostè té dret a:</p>
          <ul class="list-disc pl-5">
            <li>Accedir a la informació personal que hem recopilat sobre vostè.</li>
            <li>Sol·licitar la correcció o eliminació de les seves dades personals.</li>
            <li>Retirar el seu consentiment per al processament de dades en qualsevol moment.</li>
          </ul>
          <p class="text-sm sm:text-base">
            Per exercir aquests drets, pot contactar-nos a través del nostre correu electrònic: 
            <a href="mailto:privacy@itnovastudio.com" class="text-blue-600">info&#64;itnovastudio.com</a>.
          </p>
        </div>
      <!-- Secció -->
      <div class="mb-6 flex flex-col items-start gap-y-3">
        <p class="font-bold uppercase sm:text-base">5. Canvis a aquesta Política</p>
        <p class="text-sm sm:text-base">
          Ens reservem el dret d'actualitzar aquesta Política de Privacitat en qualsevol moment. Li notificarem qualsevol canvi publicant la nova política al nostre lloc web. Li recomanem que revisi aquesta pàgina periòdicament per estar informat sobre les nostres pràctiques de privacitat.
        </p>
      </div>
      <!-- Secció -->
      <div class="mb-6 flex flex-col items-start gap-y-3">
        <p class="font-bold uppercase sm:text-base">6. Contacte</p>
        <p class="text-sm sm:text-base">
          Si té alguna pregunta sobre aquesta Política de Privacitat, pot contactar-nos a través de:
          <br /><strong>Correu electrònic:</strong> <a href="mailto:privacy@itnovastudio.com" class="text-blue-600">info&#64;itnovastudio.com</a>
          <br /><strong>Adreça:</strong> 25230, Mollerusa, Espanya.
        </p>
      </div>
    </div>
  </div>
</section>
