<div class="mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl padding">
  <div class="flex flex-col max-w-screen-lg overflow-hidden bg-white border rounded shadow-sm lg:flex-row sm:mx-auto">
    <div class="relative lg:w-1/2" data-aos="fade-right" data-aos-duration="1000">
      <img src="/assets/images/lost/img-2.jpeg" alt="img-gallery" class="object-cover w-full lg:absolute h-80 lg:h-full" />
      <svg class="absolute top-0 right-0 hidden h-full text-white lg:inline-block" viewBox="0 0 20 104" fill="currentColor" style="transform: translateX(5px);">
        <polygon points="17.3036738 5.68434189e-14 20 5.68434189e-14 20 104 0.824555778 104"></polygon>
      </svg>
    </div>
    <div class="flex flex-col justify-center p-8 bg-white lg:p-16 lg:pl-10 lg:w-1/2" data-aos="fade-left" data-aos-duration="1000">
      <div>
        <p class="principal-title">
          Has perdut els teus punts o carnet?
        </p>
      </div>
      <h5 class="principal-subtitle">
        Recupera'ls ara amb nosaltres
      </h5>
      <p class="principal-paragraph">
        <span class="font-bold">No et preocupis</span>, et donem tota la informació que necessites per recuperar els teus punts o carnet de conduir de manera ràpida i senzilla. Confia en nosaltres!
      </p>
      <div class="flex items-center">
        <a
          href="https://pxp.cat/ca/els-nostres-centres?tb=detalle&c=678&v=1"
          type="submit"
          class="mt-2 inline-flex items-center justify-center h-12 px-6 mr-6 font-medium tracking-wide text-white bg-primaryColor transition duration-200 rounded shadow-md bg-deep-purple-accent-400 hover:bg-deep-purple-accent-700 focus:shadow-outline focus:outline-none"
        >
          Consulta els horaris
        </a>
      </div>
    </div>
  </div>
</div>
