<div class="relative bg-gray-900 text-white flex items-center justify-center h-[50vh]">
    <div class="text-center info">
      <p class="text-sm uppercase tracking-wide text-primaryColor mb-4">
        Conoce nuestros servicios
      </p>
      <h1 class="text-4xl md:text-6xl font-bold">
        Explora nuestros <span class="text-primaryColor">servicios</span>
      </h1>
      <a
        href="#"
        class="mt-6 inline-block bg-primaryColor text-white px-6 py-3 rounded-full text-lg font-semibold hover:bg-orange-600 transition duration-300"
      >
        Descubre más
      </a>
    </div>
    <img
      src="https://wallpapers.com/images/hd/hd-office-background-1920-x-1080-bcynny890vbtg364.jpg"
      alt="Experiencia VR"
      class="w-full h-100"
    />
  </div>
