<section class="py-10 padding">
  <div class="max-w-6xl mx-auto px-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      <div *ngFor="let image of visibleImages; index as i" 
           class="relative group overflow-hidden rounded-2xl shadow-lg cursor-pointer"
           [attr.data-aos]="'fade-up'"
           (click)="openModal(i)">
        <img [src]="image.image_url"
             [alt]="image.title"
             class="w-full h-60 object-cover transform transition-transform duration-500 group-hover:scale-110" />
      </div>
    </div>
    <div class="text-center" *ngIf="visibleImages.length < images.length">
      <button (click)="loadMore()" class="inline-block bg-white border border-gray-200 shadow-2xs rounded-full py-3 px-4 text-primaryColor hover:underline font-medium">
        Cargar más
      </button>
    </div>
  </div>
</section>

<div *ngIf="isModalOpen" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50" (click)="closeModal()">
  <div class="relative bg-white p-4 rounded-lg" (click)="$event.stopPropagation()">
    <button (click)="closeModal()" class="close bg-primaryColor">
      <svg width="15" height="15" viewBox="-0.5 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
        <path d="M3 21.32L21 3.32001" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M3 3.32001L21 21.32" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
    </button>
    <img [src]="selectedImage?.image_url" [alt]="selectedImage?.title" class="w-full max-h-[80vh] object-contain rounded-lg">
  </div>
</div>
