<section>
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl px-5 md:px-10 lg:px-24">
    <!-- Component -->
    <div class="flex max-w-3xl flex-col py-16 md:py-24 lg:py-32">
      <!-- Title -->
      <h1 class="mb-10 text-3xl font-bold md:text-5xl">Política de cookies i navegació</h1>
      <p class="mb-5 text-sm font-bold sm:text-base">Última actualització: 19 de Maig de 2025</p>
      <!-- Introduction -->
      <p class="mb-6 text-sm sm:text-base">
        A través d'aquest lloc web no es recaven dades de caràcter personal dels usuaris sense el seu coneixement, ni se cedeixen a tercers. Amb la finalitat d'oferir-li el millor servei i amb l'objecte de facilitar l'ús, s'analitzen el nombre de pàgines visitades, el nombre de visites, així com l'activitat dels visitants i la seva freqüència d'utilització.
        A aquests efectes, <strong>Autoescola Trailer, S.L.</strong> utilitza la informació estadística elaborada pel seu Proveïdor de Serveis d'Internet.
        <strong>Autoescola Trailer, S.L.</strong> no utilitza cookies per recollir informació dels usuaris, ni registra les adreces IP d'accés. Únicament s'utilitzen cookies pròpies, de sessió, amb finalitat tècnica (aquelles que permeten a l'usuari la navegació a través del lloc web i la utilització de les diferents opcions i serveis que hi ha).
        El portal del qual és titular <strong>Autoescola Trailer, S.L.</strong> conté enllaços a llocs web de tercers, les polítiques de privacitat dels quals són alienes a la d'Autoescola Trailer, S.L. En accedir a aquests llocs web, vostè pot decidir si accepta les seves polítiques de privacitat i de cookies. Amb caràcter general, si navega per internet vostè pot acceptar o rebutjar les cookies de tercers des de les opcions de configuració del seu navegador.
      </p>
      <!-- Section -->
      <div class="mb-6 flex flex-col items-start gap-y-3">
        <p class="font-bold uppercase sm:text-base">Qui és el responsable de l'ús de les cookies en els serveis d'Autoescola Trailer, S.L.?</p>
        <p class="text-sm sm:text-base">
          El responsable és <strong>Autoescola Trailer, S.L.</strong><br />
          NIF: B96306428<br />
          Carrer de Ferrer i Busquets, 26, 25230 Mollerussa, Lleida<br />
          Telèfon: 973 71 20 20<br />
          Correu electrònic: <a href="mailto:autoescola_trailer&#64;hotmail.es">autoescola_trailer&#64;hotmail.es</a>
        </p>
      </div>
      <!-- Section -->
      <div class="mb-6 flex flex-col items-start gap-y-3">
        <p class="font-bold uppercase sm:text-base">Per a què utilitzem cookies?</p>
        <p class="text-sm sm:text-base">
          Els serveis d' <strong>Autoescola Trailer, S.L.</strong> utilitzen Cookies:
        </p>
        <ul class="list-disc pl-5">
          <li>Amb l'objectiu d'oferir a l'usuari continguts i informació més adequats als seus interessos i facilitar la seva navegació a través dels nostres serveis.</li>
          <li>Per registrar les preferències de l'usuari i proporcionar-li un accés més ràpid.</li>
          <li>Per personalitzar els serveis que <strong>Autoescola Trailer, S.L.</strong> facilita, oferint a cada usuari informació que és del seu interès o que pot ser-ho, basant-se en l'ús que realitza d'aquests serveis.</li>
          <li>Per conèixer tots els serveis d'<strong>Autoescola Trailer, S.L.</strong> sol·licitats pels usuaris durant la navegació, de manera que es pugui facilitar o oferir informació adequada als gustos i preferències de cada usuari.</li>
        </ul>
      </div>
      <!-- Section -->
      <div class="mb-6 flex flex-col items-start gap-y-3">
        <p class="font-bold uppercase sm:text-base">Quins tipus de cookies hi ha als serveis d'Autoescola Trailer, S.L. i quines són les seves finalitats?</p>
        <p class="text-sm sm:text-base">
          <strong>Segons la seva durada:</strong>
        </p>
        <ul class="list-disc pl-5">
          <li><strong>Cookies de sessió:</strong> Aquestes expiren quan l'usuari tanca el navegador i s'esborren de l'ordinador o dispositiu en aquell moment.</li>
          <li><strong>Cookies persistents:</strong> Expiren en funció de quan es compleixi l'objectiu per al qual serveixen, per exemple, perquè l'usuari es mantingui identificat en els Serveis d'Autoescola Trailer, S.L. o bé quan s'esborran manualment.</li>
        </ul>
        <p><strong>Segons qui crea la Cookie:</strong></p>
        <ul class="list-disc pl-5">
          <li><strong>Cookies pròpies:</strong> Són les que envia l'ordinador o dispositiu de l'usuari des dels nostres serveis i són gestionades exclusivament per Autoescola Trailer, S.L.</li>
          <li><strong>Cookies de tercers:</strong> Són aquelles que són enviades per entitats alienes a Autoescola Trailer, S.L. i que s'activen quan s'accedeix des dels nostres serveis a xarxes socials o a visualitzar vídeos.</li>
        </ul>
      </div>
      <!-- Section -->
      <div class="mb-6 flex flex-col items-start gap-y-3">
        <p class="font-bold uppercase sm:text-base">Quines cookies es poden instal·lar als serveis d'Autoescola Trailer, S.L.?</p>
        <p class="text-sm sm:text-base">
          L'accés als Serveis d'Autoescola Trailer, S.L. implica que es puguin instal·lar les cookies següents:
        </p>
        <ul class="list-disc pl-5">
          <li><strong>Cookies tècniques i funcionals:</strong> Permeten la navegació a través d'una pàgina web, plataforma o aplicació i la utilització de les diferents opcions o serveis.</li>
          <li><strong>Cookies analítiques:</strong> Permeten el seguiment i anàlisi del comportament dels usuaris per millorar els serveis.</li>
          <li><strong>Cookies publicitàries:</strong> Gestionen de forma eficaç els espais publicitaris.</li>
          <li><strong>Cookies socials:</strong> Permeten compartir contingut a través de xarxes socials.</li>
          <li><strong>Cookies d'afiliats:</strong> Permeten fer un seguiment de les visites procedents d'altres webs.</li>
          <li><strong>Cookies de seguretat:</strong> Emmagatzemen informació xifrada per evitar atacs maliciosos.</li>
        </ul>
      </div>
      <!-- Section -->
      <div class="mb-6 flex flex-col items-start gap-y-3">
        <p class="font-bold uppercase sm:text-base">Validesa i desactivació</p>
        <p class="text-sm sm:text-base">
          Les cookies temporals (cookies de sessió) només s'emmagatzemenen temporalment al seu ordinador o dispositiu terminal. Quan tanques el navegador, aquestes cookies s'eliminaran automàticament.<br />
          Les cookies permanents i tecnologies similars romanen emmagatzemades al seu dispositiu fins i tot després de tancar el navegador. Aquestes cookies ens permeten reconèixer-lo en futures visites.
        </p>
      </div>
      <!-- Section -->
      <div class="mb-6 flex flex-col items-start gap-y-3">
        <p class="font-bold uppercase sm:text-base">Què passa si es deshabiliten les cookies?</p>
        <p class="text-sm sm:text-base">
          Si es deshabiliten les cookies, no podrem mantenir les seves preferències i algunes funcionalitats dels serveis d'Autoescola Trailer, S.L. podrien quedar inoperatives, no podent oferir-li serveis personalitzats.
        </p>
      </div>
      <!-- Section -->
      <div class="mb-6 flex flex-col items-start gap-y-3">
        <p class="font-bold uppercase sm:text-base">Actualitzacions i canvis en la política de privacitat/cookies</p>
        <p class="text-sm sm:text-base">
          Els serveis d'Autoescola Trailer, S.L. poden modificar aquesta Política de Cookies en funció d'exigències legislatives, reglamentàries o per adaptar aquesta política a les instruccions de l'Agència Espanyola de Protecció de Dades. Es recomana als usuaris que consultin aquesta política periòdicament.
        </p>
      </div>
    </div>
  </div>
 </section>
 
 
 