<section>
    <!-- Container -->
    <div class="mx-auto w-full max-w-7xl px-5 md:px-10 lg:px-24">
      <!-- Component -->
      <div class="flex max-w-3xl flex-col py-16 md:py-24 lg:py-32">
        <!-- Title -->
        <h1 class="mb-10 text-3xl font-bold md:text-5xl">Política de Cookies</h1>
        <p class="mb-5 text-sm font-bold sm:text-base">Última actualización: 28 de enero de 2025</p>
        <!-- Introduction -->
        <p class="mb-6 text-sm sm:text-base">
          En este documento se explica qué son las cookies, cómo las utilizamos en nuestro sitio web y cómo puede gestionarlas. Al acceder o usar nuestro sitio web, usted acepta el uso de cookies de acuerdo con esta Política.
        </p>
        <!-- Section -->
        <div class="mb-6 flex flex-col items-start gap-y-3">
          <p class="font-bold uppercase sm:text-base">1. ¿Qué son las cookies?</p>
          <p class="text-sm sm:text-base">
            Las cookies son pequeños archivos de texto que se almacenan en su dispositivo cuando visita un sitio web. Se utilizan para recordar información sobre su visita, como sus preferencias o información de inicio de sesión.
          </p>
        </div>
        <!-- Section -->
        <div class="mb-6 flex flex-col items-start gap-y-3">
          <p class="font-bold uppercase sm:text-base">2. Tipos de cookies que utilizamos</p>
          <p class="text-sm sm:text-base">
            <strong>Cookies esenciales:</strong> Estas cookies son necesarias para que nuestro sitio web funcione correctamente y no se pueden desactivar en nuestros sistemas.
            <br />
            <strong>Cookies de análisis:</strong> Nos ayudan a entender cómo los usuarios interactúan con nuestro sitio web, permitiéndonos mejorar su experiencia. Estas cookies recopilan datos de forma anónima.
          </p>
        </div>
        <!-- Section -->
        <div class="mb-6 flex flex-col items-start gap-y-3">
          <p class="font-bold uppercase sm:text-base">3. Cómo gestionar las cookies</p>
          <p class="text-sm sm:text-base">
            Usted puede administrar o desactivar las cookies en cualquier momento mediante la configuración de su navegador. Tenga en cuenta que desactivar ciertas cookies puede afectar el funcionamiento de algunas partes del sitio web.
          </p>
        </div>
        <!-- Section -->
        <div class="mb-6 flex flex-col items-start gap-y-3">
          <p class="font-bold uppercase sm:text-base">4. Cookies de terceros</p>
          <p class="text-sm sm:text-base">
            Algunas de nuestras páginas pueden utilizar servicios de terceros que también utilizan cookies, como Google Analytics. Estas cookies son gestionadas por los terceros y no tenemos control directo sobre ellas.
          </p>
        </div>
        <!-- Section -->
        <div class="mb-6 flex flex-col items-start gap-y-3">
          <p class="font-bold uppercase sm:text-base">5. Cambios en nuestra política de cookies</p>
          <p class="text-sm sm:text-base">
            Podemos actualizar esta Política de Cookies en cualquier momento. Cualquier cambio será publicado en esta página con la fecha de actualización revisada. Le recomendamos que revise esta Política periódicamente.
          </p>
        </div>
        <!-- Section -->
        <div class="mb-6 flex flex-col items-start gap-y-3">
          <p class="font-bold uppercase sm:text-base">6. Contacto</p>
          <p class="text-sm sm:text-base">
            Si tiene alguna pregunta sobre nuestra Política de Cookies, puede contactarnos a través de:
            <br /><strong>Correo electrónico:</strong> <a href="mailto:info@itnovastudio.com" class="text-blue-600">info&#64;itnovastudio.com</a>
            <br /><strong>Dirección:</strong> 25230, Mollerusa, España.
          </p>
        </div>
      </div>
    </div>
  </section>
  