<section>
    <div class="slider flex min-h-screen w-screen relative">
      <div class="absolute inset-y-0 left-10 z-10 flex items-center">
        <button
          class="h-12 w-12 flex items-center justify-center rounded-full bg-primaryColor text-white shadow-md transition duration-200 focus:outline-none"
          aria-label="Retroceder"
          (click)="left()"
        >
          &#8592;
        </button>
      </div>
  
      <div class="absolute inset-y-0 right-10 z-10 flex items-center">
        <button
          class="h-12 w-12 flex items-center justify-center rounded-full bg-primaryColor text-white shadow-md transition duration-200 focus:outline-none"
          aria-label="Avanzar"
          (click)="right()"
        >
          &#8594;
        </button>
      </div>
  
      <div class="sm:my-auto mx-auto px-4 py-16 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8 lg:py-20 slider_section first" [ngStyle]="{'transform': 'translateX(' + getActualPercent() + '%)'}">
        <div class="flex flex-col items-center justify-center lg:flex-row w-full">
          <div class="lg:max-w-2xl lg:pr-5 w-full">
            <div class="mb-6 max-w-2xl">
              <div>
                <p class="bg-teal-accent-400 mb-2 inline-block rounded-full px-3 text-xs font-semibold uppercase tracking-wider text-gray-50">Novedad</p>
              </div>
              <h2 class="mb-6 font-sans text-4xl font-bold leading-snug tracking-tight text-white sm:text-6xl sm:leading-snug">
                Diseñamos la web que
                <span class="my-1 inline-block rounded bg-white px-3 py-1 text-primaryColor">impulsa</span>
                tu negocio
              </h2>
              <p class="text-lg text-gray-200">Transformamos tus ideas en sitios web modernos, funcionales y optimizados para tu crecimiento digital. Desde landing pages hasta plataformas completas.</p>
            </div>
            <div class="flex flex-col items-center md:flex-row">
              <a href="/contacto" class="mb-3 inline-flex h-14 w-full items-center justify-center rounded bg-primaryColor px-8 font-medium tracking-wide text-white shadow-md transition duration-200 focus:outline-none md:mr-4 md:mb-0 md:w-auto">Contáctanos</a>
              <a href="/portfolio" aria-label="" class="inline-flex items-center font-semibold text-gray-50 underline-offset-2 transition-colors duration-200 hover:underline">Ver nuestro trabajo</a>
            </div>
          </div>
        </div>
      </div>
  
      <div class="sm:my-auto mx-auto px-4 py-16 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8 lg:py-20 slider_section second"  [ngStyle]="{'transform': 'translateX(' + getActualPercent() + '%)'}">
        <div class="flex flex-col items-center justify-center lg:flex-row w-full">
          <div class="lg:max-w-2xl lg:pr-5 w-full">
            <div class="mb-6 max-w-2xl">
              <div>
                <p class="bg-teal-accent-400 mb-2 inline-block rounded-full px-3 text-xs font-semibold uppercase tracking-wider text-gray-50">Novedad</p>
              </div>
              <h2 class="mb-6 font-sans text-4xl font-bold leading-snug tracking-tight text-white sm:text-6xl sm:leading-snug">
                Tienes una idea, nosotros la hacemos
                <span class="my-1 inline-block rounded bg-white px-3 py-1 text-primaryColor">realidad</span>
              </h2>
              <p class="text-lg text-gray-200">Convertimos tus ideas en soluciones de software personalizadas. Desde la conceptualización hasta el desarrollo, creamos herramientas únicas que impulsan tu negocio y resuelven tus necesidades específicas.</p>
            </div>
            <div class="flex flex-col items-center md:flex-row">
              <a href="/contacto" class="mb-3 inline-flex h-14 w-full items-center justify-center rounded bg-primaryColor px-8 font-medium tracking-wide text-white shadow-md transition duration-200 focus:outline-none md:mr-4 md:mb-0 md:w-auto">Cuéntanos tu idea</a>
              <a href="/portfolio" aria-label="" class="inline-flex items-center font-semibold text-gray-50 underline-offset-2 transition-colors duration-200 hover:underline">Ver nuestros proyectos</a>
            </div>
          </div>
        </div>
      </div>
  
      <div class="sm:my-auto mx-auto px-4 py-16 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8 lg:py-20 slider_section third"  [ngStyle]="{'transform': 'translateX(' + getActualPercent() + '%)'}">
        <div class="flex flex-col items-center justify-center lg:flex-row w-full">
          <div class="lg:max-w-2xl lg:pr-5 w-full">
            <div class="mb-6 max-w-2xl">
              <div>
                <p class="bg-teal-accent-400 mb-2 inline-block rounded-full px-3 text-xs font-semibold uppercase tracking-wider text-gray-50">Servicio Técnico</p>
              </div>
              <h2 class="mb-6 font-sans text-4xl font-bold leading-snug tracking-tight text-white sm:text-6xl sm:leading-snug">
                Tu equipo en buenas manos, 
                <span class="my-1 inline-block rounded bg-white px-3 py-1 text-primaryColor">cuidamos de todo</span>
              </h2>
              <p class="text-lg text-gray-200">
                Ofrecemos servicios completos de mantenimiento para ordenadores, laptops, y equipos tecnológicos. Desde la reparación hasta la optimización del rendimiento, garantizamos soluciones confiables que mantendrán tu tecnología funcionando al máximo.
              </p>
            </div>
            <div class="flex flex-col items-center md:flex-row">
              <a href="/contacto" class="mb-3 inline-flex h-14 w-full items-center justify-center rounded bg-primaryColor px-8 font-medium tracking-wide text-white shadow-md transition duration-200 focus:outline-none md:mr-4 md:mb-0 md:w-auto">
                Solicitar Mantenimiento
              </a>
              <a href="/portfolio" aria-label="" class="inline-flex items-center font-semibold text-gray-50 underline-offset-2 transition-colors duration-200 hover:underline">
                Ver nuestros casos de éxito
              </a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="sm:my-auto mx-auto px-4 py-16 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8 lg:py-20 slider_section fourth" [ngStyle]="{'transform': 'translateX(' + getActualPercent() + '%)'}">
        <div class="flex flex-col items-center justify-center lg:flex-row w-full">
          <div class="lg:max-w-2xl lg:pr-5 w-full">
            <div class="mb-6 max-w-2xl">
              <div>
                <p class="bg-teal-accent-400 mb-2 inline-block rounded-full px-3 text-xs font-semibold uppercase tracking-wider text-gray-50">Instalación de Cámaras</p>
              </div>
              <h2 class="mb-6 font-sans text-4xl font-bold leading-snug tracking-tight text-white sm:text-6xl sm:leading-snug">
                Seguridad garantizada, protegemos lo que
                <span class="my-1 inline-block rounded bg-white px-3 py-1 text-primaryColor"> más importa</span>
              </h2>
              <p class="text-lg text-gray-200">
                Ofrecemos servicios completos de instalación y configuración de cámaras de seguridad. Desde sistemas básicos hasta soluciones avanzadas, nos aseguramos de que tu hogar o negocio estén protegidos con tecnología confiable y moderna.
              </p>
            </div>
            <div class="flex flex-col items-center md:flex-row">
              <a href="/contacto" class="mb-3 inline-flex h-14 w-full items-center justify-center rounded bg-primaryColor px-8 font-medium tracking-wide text-white shadow-md transition duration-200 focus:outline-none md:mr-4 md:mb-0 md:w-auto">
                Solicitar Instalación
              </a>
              <a href="/portfolio" aria-label="" class="inline-flex items-center font-semibold text-gray-50 underline-offset-2 transition-colors duration-200 hover:underline">
                Ver nuestros proyectos exitosos
              </a>
            </div>
          </div>
        </div>
      </div>
  
      <div class="absolute bottom-5 left-0 right-0 flex justify-center space-x-2">
        <ng-container *ngFor="let percent of percents; let i = index">
          <input 
            type="radio" 
            class="hidden" 
            id="slider-dot-{{i}}" 
            [checked]="index === i" 
            (click)="index = i"
          />
          <label 
            for="slider-dot-{{i}}" 
            class="h-3 w-3 cursor-pointer rounded-full shadow-md transition duration-200"
            [ngClass]="{
              'bg-primaryColor': index === i, 
              'bg-transparent border border-white': index !== i, 
              'opacity-50': index !== i
            }"
          ></label>
        </ng-container>
      </div>
    </div>
  </section>