<section>
  <div class="slider flex min-h-screen w-screen relative">
      
      <div class="sm:my-auto mx-auto px-4 py-16 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8 lg:py-20 slider_section first">
        <div class="flex flex-col items-center justify-center lg:flex-row w-full">
          <div class="lg:max-w-2xl lg:pr-5 w-full">
            <div class="mb-6 max-w-2xl">
              <div>
                <p class="bg-teal-accent-400 mb-2 inline-block rounded-full px-3 text-xs font-semibold uppercase tracking-wider text-gray-50">Itnovastudio</p>
              </div>
              <h2 class="mb-6 font-sans text-4xl font-bold leading-snug tracking-tight text-white sm:text-6xl sm:leading-snug">
                Expertos en soluciones <span class="my-1 inline-block rounded bg-white px-3 py-1 text-primaryColor">digitales</span> 
              </h2>
              <p class="text-lg text-gray-200">Diseñamos y desarrollamos sitios web modernos, funcionales y optimizados para el crecimiento digital de tu negocio. Desde landing pages hasta plataformas completas, incluyendo desarrollo de software y gestión de redes sociales. Transformamos tus ideas en soluciones digitales completas para maximizar tu presencia online.</p>
            </div>
            <div class="flex flex-col items-center md:flex-row">
              <a href="/contacto" class="mb-3 inline-flex h-14 w-full items-center justify-center rounded bg-primaryColor px-8 font-medium tracking-wide text-white shadow-md transition duration-200 focus:outline-none md:mr-4 md:mb-0 md:w-auto">Contáctanos</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
