<div class="relative top">
  <div class="relative bg-opacity-90">
    <svg class="absolute inset-x-0 -bottom-1 text-white" viewBox="0 0 1160 163">
      <path fill="currentColor" d="M-164 13L-104 39.7C-44 66 76 120 196 141C316 162 436 152 556 119.7C676 88 796 34 916 13C1036 -8 1156 2 1216 7.7L1276 13V162.5H1216C1156 162.5 1036 162.5 916 162.5C796 162.5 676 162.5 556 162.5C436 162.5 316 162.5 196 162.5C76 162.5 -44 162.5 -104 162.5H-164V13Z"></path>
    </svg>
    <div class="relative overflow-hidden px-4 py-16 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8 lg:h-[80vh] flex items-center justify-center">
      <div class="text-start">
        <h2 class="mb-6 max-w-lg font-sans text-3xl font-bold tracking-tight text-white sm:text-7xl sm:leading-none">Conducció segura a Mollerussa</h2>
        <p class="mb-4 max-w-xl text-base text-gray-200 md:text-lg">A l'autoescola Trailer Mollerussa, oferim una formació de qualitat per aconseguir que siguin uns conductors responsables i preparats. Ens adaptem a les teves necessitats per garantir una experiència de conducció excel·lent.</p>
        <a href="/" aria-label=""
        class="inline-flex items-center justify-center px-6 py-3 text-lg font-semibold text-white bg-primaryColor rounded-sm shadow-lg transition duration-300 hover:bg-red-700 focus:outline-none focus:ring-4 focus:ring-red-400">
        Més informació
        <svg class="ml-2 w-5 h-5" fill="currentColor" viewBox="0 0 12 12">
          <path d="M9.707,5.293l-5-5A1,1,0,0,0,3.293,1.707L7.586,6,3.293,10.293a1,1,0,1,0,1.414,1.414l5-5A1,1,0,0,0,9.707,5.293Z"></path>
        </svg>
      </a>
      </div>
    </div>
  </div>
</div>
