<div class="max-w-6xl mx-auto bg-white p-6 rounded-lg flex flex-col md:flex-row items-center overflow-hidden">
    <div class="relative md:w-1/2" data-aos="fade-right" data-aos-duration="1000">
        <img src="/assets/images/home/img-about-1.png" alt="Dona al Cotxe" class="rounded-lg shadow-xl transform hover:scale-105 transition-transform duration-500">
        <div class="absolute top-4 left-4 bg-primaryColor text-white px-4 py-2 rounded-lg">
            <p class="text-sm font-bold">+30 Anys</p>
            <p class="text-xs">D'Experiència</p>
        </div>
        <div class="absolute inset-0 flex items-center justify-center">
            <button class="bg-white p-4 rounded-full shadow-lg transition-all duration-500 hover:scale-110 hover:shadow-2xl">
                <svg class="w-8 h-8 text-primaryColor" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 5v14l11-7z"></path>
                </svg>
            </button>
        </div>
    </div>
    
    <div class="md:w-1/2 md:pl-10 mt-6 md:mt-0" data-aos="fade-left" data-aos-duration="1000">
        <h5 class="text-primaryColor font-extrabold effect" data-aos="zoom-in" data-aos-delay="200">QUI SOM</h5>
        <h2 class="text-4xl font-bold mt-3" data-aos="fade-up" data-aos-delay="300">La teva autoescola de confiança</h2>
        <p class="text-gray-600 mt-4" data-aos="fade-up" data-aos-delay="400">A Autoescola Tràiler Mollerussa t’ajudem a aconseguir el teu permís de conduir amb els millors professionals i una formació de qualitat. Ens adaptem a tu amb mètodes moderns i vehicles equipats.</p>
        
        <div class="bg-gray-100 p-4 rounded-sm shadow-md mt-4" data-aos="fade-up" data-aos-duration="1000">
            <p class="text-gray-600 italic">"El nostre compromís és formar conductors segurs i responsables. Aprèn amb nosaltres i condueix amb confiança!"</p>
            <p class="text-gray-900 font-bold mt-2">Raquel Castro, Directora de l'autoescola</p>
        </div>
        
        <button class="mt-5 group relative inline-flex h-12 items-center justify-center overflow-hidden rounded-md border border-neutral-200 bg-primaryColor font-medium shadow-lg transform hover:scale-105 transition-transform duration-500" data-aos="zoom-in" data-aos-delay="500">
            <div class="inline-flex h-12 translate-y-0 items-center justify-center px-6 text-neutral-50 transition duration-500 group-hover:-translate-y-[150%]">
                Sobre nosaltres
            </div>
            <div class="absolute inline-flex h-12 w-full translate-y-[100%] items-center justify-center text-neutral-950 transition duration-500 group-hover:translate-y-0">
              <span class="absolute h-full w-full translate-y-full skew-y-12 scale-y-0 bg-white transition duration-500 group-hover:translate-y-0 group-hover:scale-150"></span>
              <span class="z-10">Sobre nosaltres</span>
            </div>
        </button>
    </div>
</div>