<div class="bg-gray-900 text-white py-16 px-8">
    <div class="max-w-5xl mx-auto text-center">
      <div class="flex flex-col items-center">
        <p class="text-orange-500 font-semibold mb-2">Explora Más Soluciones</p>
        <h1 class="text-4xl font-bold mb-4">¿Tienes algún problema con tu <span class="text-primaryColor">hardware</span> o necesitas servicio técnico?</h1>
        <p class="text-gray-400 max-w-lg mb-8">
          Estamos aquí para ayudarte. Contáctanos, pásate por nuestro local o llámanos y resolveremos tus problemas de la manera más rápida y eficiente posible.
        </p>
        <a href="#" class="bg-transparent border border-orange-500 text-orange-500 px-6 py-3 rounded-lg hover:bg-primaryColor hover:text-white transition">
          Contáctanos
        </a>
      </div>
      <div class="mt-16">
        <svg class="mx-auto" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none" stroke="currentColor" stroke-width="2">
          <g stroke="#f97316">
            <path d="M32 12l16 9.2v18.4L32 49l-16-9.2V21.2L32 12z" />
            <path d="M32 12v37" />
            <path d="M16 21l16 9 16-9" />
          </g>
        </svg>
      </div>
    </div>
  </div>
  