<div class="overflow-hidden">
    <app-top></app-top>
    <div class="bg-gray-50">
        <app-about></app-about>
    </div>
    <div class="bg-white">
        <app-services-shaders></app-services-shaders>
    </div>
    <div class="bg-gray-50">
        <app-stats></app-stats>
    </div>
    <div class="bg-white">
        <app-faqs></app-faqs>
    </div>
    <div class="bg-gray-100">
        <app-news></app-news>
    </div>
    <div class="bg-white py-24 px-5">
        <app-contact></app-contact>
    </div>
</div>

