@keyframes anim{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
}

.effect-test{
    background-color: hsla(0, 0%, 0%, 0.500) !important;
    z-index: 9999 !important;
    overflow: hidden;

    .element{
        animation-name: anim;
        animation-duration: 2000ms;
    }
}