<div class="text-center special-section padding">
  <h6 class="text-lg text-primaryColor font-medium text-center">Tipus de Carnets i Llicències</h6>
  <h2 class="text-4xl font-manrope text-center font-bold text-gray-900 leading-[3.25rem]">
    Carnets i Llicències de l'Autoescola.
  </h2>
  <p class="max-w-2xl mx-auto text-gray-500 mt-2">
    A la nostra autoescola t’oferim una àmplia varietat de carnets i llicències per a tota mena de vehicles.  
    Descobreix quin s’adapta millor a les teves necessitats i comença avui mateix el teu camí cap a la carretera!
  </p>
  <div #splide class="splide w-7/12 mx-auto relative" id="permisos-slider">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide" *ngFor="let service of services; index as i">
          <div class="bg-white p-6 rounded-lg shadow-lg flex flex-col items-center">
            <img [src]="service.image" [alt]="service.title + 'img'">
            <p class="mt-2 text-xl font-semibold">{{service.title}}</p>
          </div>
        </li>
      </ul>
    </div>
    <button id="slider-button-left" class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-primaryColor text-white p-2 rounded-full focus:outline-none">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
      </svg>
    </button>
    <button id="slider-button-right" class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-primaryColor text-white p-2 rounded-full focus:outline-none">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" transform="rotate(180)">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
      </svg>
    </button>
  </div>
</div>
