<div class="text-center special-section padding">
  <h6 class="text-lg text-primaryColor font-medium text-center" data-aos="fade-up" data-aos-delay="200">Tipus de Permis i Llicències</h6>
  <h2 class="principal-subtitle text-center" data-aos="fade-up" data-aos-delay="400">
    Permisos i Llicències de l'Autoescola Trailer.
  </h2>
  <p class="principal-paragraph mx-auto " data-aos="fade-up" data-aos-delay="700">
    Algunes categories no les oferim directament, però <strong>col·laborem amb l'Autoescola Pallars</strong> i tota la seva atenció per poder gestionar els serveis administratius d'obtenció de permisos, sense desplaçaments.
  </p>

  <div #splide class="splide md:w-7/12 w-12/12 mx-auto relative" id="permisos-slider" data-aos="fade-up" data-aos-delay="800">
    <div class="splide__track parent">
      <ul class="splide__list">
        <li class="splide__slide" *ngFor="let service of services; index as i" data-aos="fade-up" data-aos-delay="1000">
          <div class="bg-white p-6 rounded-lg shadow-lg flex flex-col items-center">
            <img [src]="service.image" [alt]="service.title + 'img'" data-aos="zoom-in" data-aos-delay="1200">
            <p class="mt-2 text-xl font-semibold">{{service.title}}</p>
          </div>
        </li>
      </ul>

      <button id="slider-button-left" class="bg-primaryColor text-white p-2 rounded-full focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
        </svg>
      </button>
      <button id="slider-button-right" class="bg-primaryColor text-white p-2 rounded-full focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" transform="rotate(180)">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
        </svg>
      </button>
    </div>

    <div class="image-container mx-auto my-4 opacity-70">
      <img src="assets/img-1.png" 
           alt="Logo de Autoescola Pallars" 
           class="mx-auto rounded-lg w-2/6" 
           data-aos="fade-up" 
           data-aos-delay="1000">
      <p class="text-sm text-gray-500 mt-2">Col·laboració amb Autoescola Pallars</p>
    </div>
  
  </div>
</div>
