<app-top [url]="'Servicios / Gestión redes sociales'" [title]="'Gestión redes sociales'" [photo]="'/assets/images/services/social/social.jpg'"></app-top>
<app-info [image]="'/assets/images/services/social/info.jpg'" [title]="'Gestión Profesional de Redes Sociales'" [parragraph]="'Nos encargamos de tus redes sociales para que tu negocio tenga más visibilidad y clientes. Publicaciones atractivas, interacción con tu audiencia y estrategias efectivas para crecer en Instagram, Facebook, TikTok y más.'"></app-info>
<app-work [steps]="steps" [text]="text"></app-work>
<app-services [title]="title" [description]="description" [gridItems]="gridItems"></app-services>
<app-go-contact [goContactTitle]="goContactTitle" [goContactSecondTitle]="goContactSecondTitle" [goContactParagraph]="goContactParagraph"></app-go-contact>
<app-faqs [faqs]="faqs"></app-faqs>

