<!-- Contacto -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <div class="max-w-2xl lg:max-w-5xl mx-auto">
    <div class="text-center">
      <h1 class="text-3xl font-bold text-gray-800 sm:text-4xl dark:text-white">
        Contáctanos
      </h1>
      <p class="mt-1 text-gray-600 dark:text-neutral-400">
        Estamos aquí para ayudarte a desarrollar soluciones tecnológicas
        innovadoras.
      </p>
    </div>

    <div class="mt-12 grid items-center lg:grid-cols-2 gap-6 lg:gap-16">
      <div
        class="flex flex-col border rounded-xl p-4 sm:p-6 lg:p-8 dark:border-neutral-700"
      >
        <h2
          class="mb-8 text-xl font-semibold text-gray-800 dark:text-neutral-200"
        >
          Completa el formulario
        </h2>

        <form [formGroup]="form" (ngSubmit)="sendEmail()">
          <div class="grid gap-4">
            <div>
              <label for="name" class="sr-only">Name</label>
              <input
                type="text"
                id="name"
                formControlName="name"
                class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm"
                placeholder="Ingresa tu nombre"
              />
              <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="text-red-500 text-sm mt-1">
                Nombre requerido
              </div>
            </div>
        
            <div>
              <label for="email" class="sr-only">Email</label>
              <input
                type="email"
                id="email"
                formControlName="email"
                class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm"
                placeholder="Ingresa tu dirección de correo"
              />
              <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="text-red-500 text-sm mt-1">
                Email requerido
              </div>
            </div>
        
            <div>
              <label for="message" class="sr-only">Message</label>
              <textarea
                id="message"
                formControlName="message"
                rows="4"
                class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm"
                placeholder="Déjanos tu mensaje, estamos aquí para ayudarte "
              ></textarea>
              <div *ngIf="form.get('message')?.invalid && form.get('message')?.touched" class="text-red-500 text-sm mt-1">
                Mensaje requerido
              </div>
            </div>
          </div>
        
          <div class="flex items-center mt-3">
            <input
              type="checkbox"
              id="acceptPolicies"
              formControlName="acceptPolicies"
              class="mr-2 h-4 w-4 text-primaryColor rounded"
            />
            <label for="acceptPolicies" class="text-sm text-gray-600 dark:text-neutral-400">
              He leído y acepto las <a routerLink="/terminos" class="text-primaryColor">políticas de privacidad</a>.
            </label>
          </div>
          
          <div *ngIf="form.get('acceptPolicies')?.invalid && form.get('acceptPolicies')?.touched" class="text-red-500 text-sm mt-1">
            Debes aceptar las políticas de privacidad.
          </div>

          <div class="mt-4 grid">
            <button
              type="submit"
              [disabled]="form.invalid"
              class="w-full py-3 px-4 flex items-end justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-primaryColor text-white disabled:opacity-50 disabled:pointer-events-none"
            >
              Enviar <span class="loader" *ngIf="loading"></span>
            </button>

            <div class="bg-green-100 border-t-4 border-green-500 rounded-b text-green-900 px-4 py-3 shadow-md mt-5 alert" role="alert" *ngIf="success" @fadeInOut>
              <div class="flex">
                <div class="py-1">
                  <svg class="fill-current h-6 w-6 text-green-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/>
                  </svg>
                </div>
                <div>
                  <p class="font-bold">Correo enviado</p>
                  <p class="text-sm">Tu mensaje ha sido enviado exitosamente.</p>
                </div>
              </div>
            </div>
            <div class="bg-red-100 border-t-4 border-red-500 rounded-b text-red-900 px-4 py-3 shadow-md mt-5 alert" role="alert" *ngIf="error" @fadeInOut>
              <div class="flex">
                <div class="py-1">
                  <svg class="fill-current h-6 w-6 text-red-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/>
                  </svg>
                </div>
                <div>
                  <p class="font-bold">Disculpa las molestias</p>
                  <p class="text-sm">No hemos podido enviar el correo. Por favor, prueba a enviarlo desde tu correo a <a href="mailto:info@itnovastudio.com" class="text-red-500">info&#64;itnovastudio.com</a> o envía un WhatsApp al <a href="tel:+34633899675" class="text-red-500">+34 633 89 96 75</a>.</p>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="divide-y divide-gray-200 dark:divide-neutral-800">
        <div class="flex gap-x-7 py-6">
          <svg
            class="shrink-0 size-6 mt-1.5"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#FF6600"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="12" cy="12" r="10" />
            <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3" />
            <path d="M12 17h.01" />
          </svg>
          <div class="grow">
            <h3 class="font-semibold text-gray-800 dark:text-neutral-200">
              Hablemos cuando quieras
            </h3>
            <p class="mt-1 text-sm text-gray-500 dark:text-neutral-500">
              Si tienes dudas, podemos resolverlas en una reunión cuando te
              venga bien.
            </p>
          </div>
        </div>

        <div class="flex gap-x-7 py-6">
          <svg
            class="shrink-0 size-6 mt-1.5"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#FF6600"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M14 9a2 2 0 0 1-2 2H6l-4 4V4c0-1.1.9-2 2-2h8a2 2 0 0 1 2 2v5Z"
            />
            <path d="M18 9h2a2 2 0 0 1 2 2v11l-4-4h-6a2 2 0 0 1-2-2v-1" />
          </svg>
          <div class="grow">
            <h3 class="font-semibold text-gray-800 dark:text-neutral-200">
              Resolvemos tus dudas
            </h3>
            <p class="mt-1 text-sm text-gray-500 dark:text-neutral-500">
              Si tienes preguntas, estamos aquí para responderlas y ayudarte en
              lo que necesites.
            </p>
          </div>
        </div>

        <div class="flex gap-x-7 py-6">
          <svg
            class="shrink-0 size-6 mt-1.5"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#FF6600"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="m7 11 2-2-2-2" />
            <path d="M11 13h4" />
            <rect width="18" height="18" x="3" y="3" rx="2" ry="2" />
          </svg>
          <div class="grow">
            <h3 class="font-semibold text-gray-800 dark:text-neutral-200">
              Asesoría personalizada
            </h3>
            <p class="mt-1 text-sm text-gray-500 dark:text-neutral-500">
              Nos adaptamos a lo que necesitas. Agendemos una charla y vemos
              cómo podemos ayudarte.
            </p>
          </div>
        </div>

        <div class="flex gap-x-7 py-6">
          <svg
            class="shrink-0 size-6 mt-1.5"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#FF6600"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M21.2 8.4c.5.38.8.97.8 1.6v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V10a2 2 0 0 1 .8-1.6l8-6a2 2 0 0 1 2.4 0l8 6Z"
            />
            <path d="m22 10-8.97 5.7a1.94 1.94 0 0 1-2.06 0 L2 10" />
          </svg>
          <div class="grow">
            <h3 class="font-semibold text-gray-800 dark:text-neutral-200">
              Escríbenos cuando quieras
            </h3>
            <p class="mt-1 text-sm text-gray-500 dark:text-neutral-500">
              Si prefieres enviarnos un correo, estaremos encantados de
              responderte.
            </p>
            <a
              class="mt-2 inline-flex items-center gap-x-2 text-sm font-medium text-gray-600 hover:text-gray-800 focus:outline-none focus:text-gray-800 dark:text-neutral-400 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
              href="#"
            >
              info&#64;itnovastudio.com
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
