<section class=" bg-white padding" data-aos="fade-up">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="grid items-center grid-cols-1 lg:grid-cols-2 gap-x-12 xl:gap-x-24 gap-y-12">
            <div class="relative lg:mb-12" data-aos="zoom-in" data-aos-duration="800">
                <img class="absolute -right-0 -bottom-8 xl:-bottom-12 xl:-right-4" src="https://cdn.rareblocks.xyz/collection/celebration/images/content/3/dots-pattern.svg" alt="" />
                <div class="pl-12 pr-6">
                    <img class="relative h-[70vh] rounded object-cover" src="/assets/images/services/img-2.jpg" alt="lost" data-aos="fade-left" data-aos-duration="1000" />
                </div>
                <div class="absolute left-0 pr-12 bottom-8 xl:bottom-20">
                    <div class="max-w-xs bg-primaryColor rounded-lg sm:max-w-md xl:max-w-md" data-aos="slide-up" data-aos-duration="1000">
                        <div class="px-3 py-4 sm:px-5 sm:py-8">
                            <div class="flex items-start">
                                <blockquote class="ml-5">
                                    <p class="text-sm font-medium text-white sm:text-lg">“Tot molt més fàcil! Ara recuperar els meus punts és ràpid i senzill gràcies al vostre curs.”</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="2xl:pl-16" data-aos="fade-up" data-aos-duration="1200">
                <h2 class="text-3xl font-bold leading-tight text-black sm:text-4xl lg:text-5xl lg:leading-tight">Recupera els teus punts o carnet fàcilment.</h2>
                <p class="text-xl leading-relaxed text-gray-900 mt-9">Has perdut punts del carnet o t'han retirat el permís de conduir? Nosaltres t'ajudem a recuperar-los amb cursos oficials i adaptats a les teves necessitats.</p>
                <p class="mt-6 text-xl leading-relaxed text-gray-900">Formació homologada per a la recuperació de punts i del carnet. Inscriu-te i torna a conduir amb seguretat!</p>
            </div>
        </div>
    </div>
</section>
