<div class="max-w-[85rem] padding mx-auto" data-aos="fade-up">
  <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14" data-aos="fade-down">
    <h6 class="text-lg text-primaryColor font-medium text-center">Notícies</h6>
    <h2 class="text-4xl font-manrope text-center font-bold text-gray-900 leading-[3.25rem]">
      Novetats de l'autoescola
    </h2>
  </div>

  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <a *ngFor="let blog of blogs; index as i" 
       class="group flex flex-col h-full border border-gray-200 hover:border-transparent hover:shadow-lg transition duration-300 rounded-xl p-5" 
       href="#" 
       [attr.data-aos]="'zoom-in'" 
       [attr.data-aos-delay]="(i * 100)">
      <div class="aspect-w-16 aspect-h-11">
        <img class="w-full object-cover rounded-xl h-[35vh] object-cover" 
             [src]="blog.image_url || '/assets/images/lost/img-1.jpg'" 
             [alt]="blog.title">
      </div>
      <div class="my-6">
        <h3 class="text-xl font-semibold text-gray-800 group-hover:text-black" *ngIf="blog.title">
          {{ blog.title }}
        </h3>
        <p class="mt-5 text-gray-600 line-clamp-4" *ngIf="blog.description || blog.content">
          {{ blog.description || blog.content }}
        </p>
      </div>
      <div class="mt-auto flex items-center gap-x-3">
        <img class="size-8 rounded-full" 
             src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" 
             alt="Avatar">
        <div>
          <h5 class="text-sm text-gray-800">Per Autoescola Trailer</h5>
        </div>
      </div>
    </a>
  </div>

  <div class="mt-12 text-center" *ngIf="blogs.length === 0" data-aos="fade-up" data-aos-delay="300">
    <p class="text-gray-600">Carregant notícies...</p>
  </div>
</div>
