<div class="bg-gray-50 py-16 px-6">
  
  <div class="max-w-7xl mx-auto" aria-label="My Custom Carousel">
      <div class="splide case-studies-slider relative">
          <div class="flex items-center justify-between">
              <div>
                  <h2 class="text-sm text-orange-500 font-semibold mb-3">Nuestros Servicios y Soluciones</h2>
                  <h1 class="text-4xl font-extrabold text-gray-900 mb-10">Aplicaciones Tecnológicas</h1>
              </div>
      
              <div class="flex">
                  <button class="custom-prev z-10 flex items-center text-gray-500 hover:text-black">
                      <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#FF6600">
                          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                          <g id="SVGRepo_iconCarrier">
                              <path d="M22 11.9299H2" stroke="#FF6600" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                              <path d="M8.00009 19L2.84009 14C2.5677 13.7429 2.35071 13.433 2.20239 13.0891C2.05407 12.7452 1.97754 12.3745 1.97754 12C1.97754 11.6255 2.05407 11.2548 2.20239 10.9109C2.35071 10.567 2.5677 10.2571 2.84009 10L8.00009 5" stroke="#FF6600" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                          </g>
                      </svg>
                      <span class="text-sm font-medium text-primaryColor ml-3">Anterior</span>
                  </button>
      
                  <button class="custom-next ml-5 z-10 flex items-center text-gray-500 hover:text-black">
                      <span class="text-sm font-medium text-primaryColor mr-3">Siguiente</span>
                      <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#FF6600">
                          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                          <g id="SVGRepo_iconCarrier">
                              <path d="M2 12.07H22" stroke="#FF6600" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                              <path d="M16 5L21.16 10C21.4324 10.2571 21.6494 10.567 21.7977 10.9109C21.946 11.2548 22.0225 11.6255 22.0225 12C22.0225 12.3745 21.946 12.7452 21.7977 13.0891C21.6494 13.433 21.4324 13.7429 21.16 14L16 19" stroke="#FF6600" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                          </g>
                      </svg>
                  </button>
              </div>
          </div>
      
      <div class="splide__track">
        <ul class="splide__list">
          <li *ngFor="let caseItem of cases" class="splide__slide">
            <div class="bg-white shadow-md rounded-lg p-4">
              <div class="flex flex-col items-center">
                <img [src]="caseItem.image" [alt]="caseItem.alt" class="rounded-t-lg mb-4 w-full">
                <div class="text-left">
                  <p class="text-orange-500 text-sm font-semibold mb-1">{{ caseItem.category }}</p>
                  <h3 class="text-lg font-bold text-gray-800 mb-2">{{ caseItem.title }}</h3>
                  <p class="text-sm text-gray-600">{{ caseItem.description }}</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
