
.splide{
}

.custom-prev,
.custom-next {
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.custom-prev:hover,
.custom-next:hover {
  color: black; /* Cambia el color al pasar el mouse */
}

.custom-prev svg,
.custom-next svg {
  stroke: currentColor;
}

.splide__track {
  padding: 0 40px; 
}


