<app-top [url]="'Servicios / Cámaras de seguridad'" [title]="'Cámaras de seguridad'" [photo]="'/assets/images/services/cameras/cameras.jpg'"></app-top>
<app-work [steps]="steps" [text]="text"></app-work>
<app-services [title]="title" [description]="description" [gridItems]="gridItems"></app-services>
<app-go-contact [goContactTitle]="goContactTitle" [goContactSecondTitle]="goContactSecondTitle" [goContactParagraph]="goContactParagraph"></app-go-contact>
<app-faqs [faqs]="faqs"></app-faqs>

