<app-top [url]="'Servicios / Cámaras de seguridad'" [title]="'Cámaras de seguridad'" [photo]="'/assets/images/services/cameras/cameras.jpg'"></app-top>
<app-info [image]="'/assets/images/services/cameras/info.jpg'" [title]="'Instalación de Cámaras de Seguridad'" [parragraph]="'Protege tu hogar o negocio con cámaras de seguridad de alta calidad. Instalamos y configuramos sistemas de videovigilancia para que puedas monitorear todo en tiempo real desde tu móvil o computadora. Seguridad y tranquilidad a tu alcance.'"></app-info>
<app-work [steps]="steps" [text]="text"></app-work>
<app-services [title]="title" [description]="description" [gridItems]="gridItems"></app-services>
<app-go-contact [goContactTitle]="goContactTitle" [goContactSecondTitle]="goContactSecondTitle" [goContactParagraph]="goContactParagraph"></app-go-contact>
<app-faqs [faqs]="faqs"></app-faqs>

