<section class="max-w-6xl mx-auto text-center padding">
  <h2 class="text-4xl font-extrabold text-gray-800 mb-3">Elige tu compañero de viaje</h2>
  <p class="text-lg text-gray-600 mb-12">Elige la clase que te quieras matricular. ¿Será el elegante coche o la ágil moto? ¡Tú decides!</p>

  <div class="grid gap-10 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 mt-8">
    <div class="bg-white p-8 rounded-2xl shadow-xl flex flex-col items-center transition-transform duration-300 ease-in-out transform hover:scale-105 hover:shadow-2xl hover:bg-gray-50">
      <img src="/assets/icons/car.png" class="w-28 h-28 mb-6 transition-transform duration-300 ease-in-out">
      <p class="mt-4 text-xl font-semibold text-gray-700">Coche</p>
    </div>
    <div class="bg-white p-8 rounded-2xl shadow-xl flex flex-col items-center transition-transform duration-300 ease-in-out transform hover:scale-105 hover:shadow-2xl hover:bg-gray-50">
      <img src="/assets/icons/a2.png" class="w-28 h-28 mb-6 transition-transform duration-300 ease-in-out">
      <p class="mt-4 text-xl font-semibold text-gray-700">Motos</p>
    </div>
    <div class="bg-white p-8 rounded-2xl shadow-xl flex flex-col items-center transition-transform duration-300 ease-in-out transform hover:scale-105 hover:shadow-2xl hover:bg-gray-50">
      <svg class="w-28 h-28 mb-6 transition-transform duration-300 ease-in-out" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="none"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill="#FF181E" fill-rule="evenodd" d="M3 8a2 2 0 100 4 2 2 0 000-4zm5 2a2 2 0 114 0 2 2 0 01-4 0zm7 0a2 2 0 114 0 2 2 0 01-4 0z"></path> </g></svg>
      <p class="mt-4 text-xl font-semibold text-gray-700">Altres</p>
    </div>
  </div>
</section>
