<app-payments-top></app-payments-top>

<section class="max-w-6xl mx-auto text-center py-12 px-2">
  <h2 class="text-4xl font-extrabold text-gray-800 mb-3">Tria el permís que vols obtenir</h2>
  <p class="text-lg text-gray-600 mb-8">Comença la teva aventura a la carretera! Selecciona el permís que vols obtenir i matricula't fàcilment.</p>

  <div class="grid gap-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 mt-4">
    <div [routerLink]="['/pagaments/matriculat', 'coche']" class="bg-white cursor-pointer p-8 rounded-xl shadow hover:shadow-lg flex flex-col items-center transition-all duration-200 border border-gray-100">
      <img src="/assets/icons/a.png" alt="Coche" class="w-20 h-20 mb-4">
      <h3 class="text-xl font-semibold text-gray-800 mb-1">Coche</h3>
    </div>
    <div [routerLink]="['/pagaments/matriculat', 'moto']" class="bg-white cursor-pointer p-8 rounded-xl shadow hover:shadow-lg flex flex-col items-center transition-all duration-200 border border-gray-100">
      <img src="/assets/icons/a1.png" alt="Motos" class="w-20 h-20 mb-4">
      <h3 class="text-xl font-semibold text-gray-800 mb-1">Motos</h3>
    </div>
    <div [routerLink]="['/pagaments/matriculat', 'altres']" class="bg-white cursor-pointer p-8 rounded-xl shadow hover:shadow-lg flex flex-col items-center transition-all duration-200 border border-gray-100">
      <img src="/assets/icons/a2.png" alt="Altres" class="w-20 h-20 mb-4">
      <h3 class="text-xl font-semibold text-gray-800 mb-1">Altres</h3>
    </div>
  </div>
</section>
