@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

$backgroundColor: #f3f3f4;

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif !important;
}

.splide__track {
    
    .splide__list {
        display: flex !important;
        flex-direction: row !important;
        padding: 40px 0 !important;
    }
}

.btn-effect{
    transition: 500ms;

    &:hover{

        span{
            color: #000;
        }
    }
}

.special-section{
    background-color: $backgroundColor !important;
}

.padding{
    padding: 100px 20px;
}

.effect{
    width: fit-content;
    position: relative;
    
    &::before{
        content: "";
        width: 90%;
        height: 3px;
        position: absolute;
        bottom: -3px;
        left: 0;
        background-color: #ff181e;
        border-radius: 20px;
    }

    &::after{
        content: "";
        width: 10px;
        height: 3px;
        position: absolute;
        bottom: -3px;
        right: 0;
        transform: translateX(-15px);
        background-color: #fff;
        border-radius: 20px;
    }
}

.principal-title{
    @apply text-lg text-primaryColor font-medium text-center; 
}

.principal-subtitle{
    @apply text-4xl font-bold text-gray-900 mt-2; 
}

.principal-paragraph{
    @apply max-w-2xl text-gray-500 mt-2; 
}