<section>
    <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-20">
      <div class="mx-auto flex max-w-xl flex-col items-center justify-center px-6 text-center lg:max-w-3xl lg:px-10">
        <h2 class="principal-title">
          Preguntas Frecuentes
        </h2>
        <p class="principal-subtitle">
          Resuelve tus dudas de manera rápida y sencilla. Aquí respondemos las preguntas más habituales sobre nuestros servicios.
        </p>
      </div>
  
      <div class="mt-10 flex flex-col justify-between lg:flex-row lg:flex-wrap">
        <div
          *ngFor="let faq of faqs; let i = index"
          class="mx-4 flex max-w-3xl flex-col lg:shrink lg:grow lg:basis-96"
          (click)="toggleFaq(i)"
        >
          <div class="relative my-3 w-full rounded-md border border-gray-300 px-12 py-8">
            <h2
              class="font-bold text-black text-xl cursor-pointer"
              
            >
              {{ faq.question }}
            </h2>
            <p
              *ngIf="faq.open"
              class="font-inter mt-4 text-base font-light text-gray-500"
            >
              {{ faq.answer }}
            </p>
            <a class="absolute right-5 top-9" >
              <svg 
              
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="12" cy="12" r="12" fill="#ff6600"></circle>
                <path
                  d="M7.05078 12H16.9508"
                  stroke="#fff"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
                <path
                  *ngIf="faq.open"
                  d="M12 7.05005V16.95"
                  stroke="#fff"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  